@font-face {
  font-family: 'SequelSansBoldDisp';
  src: url("/fonts/SequelSansBoldDisp.otf");
}
@font-face {
  font-family: 'SequelSansMediumBody';
  src: url("/fonts/SequelSansMediumBody.otf");
}
@font-face {
  font-family: 'SequelSansLightBody';
  src: url("/fonts/SequelSansLightBody.otf");
}

:root{
  --titulo: 'SequelSansBoldDisp', sans-serif;
  --corrido: 'SequelSansMediumBody', sans-serif;
  --light: 'SequelSansLightBody', sans-serif;
  --color1: #000000;
  --color2: #808286;
  --color3: #F3F4F4;
  --color4: #636569;
  --color5: #FFFFFF;
  --color6: #0D45E4;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: white;
}
a:visited{
  color: white;
}
button{
  border: none;
}